name: 'Run Animate test suite'

on:
  # Run test suite whenever main is updated
  push:
    branches:
      - main

  # Run test suite whenever commits are pushed to an open PR
  pull_request:

  # Run test suite every Sunday at 1AM
  schedule:
    - cron: '0 1 * * 0'

concurrency:
  # Cancel jobs running if new commits are pushed
  group: >
    ${{ github.workflow }}-
    ${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test_suite:
    name: 'Test suite'
    runs-on: ubuntu-latest
    container:
      image: jwallwork/firedrake-parmmg:latest
      options: --user root
    steps:
      - uses: actions/checkout@v2

      - name: 'Cleanup'
        if: ${{ always() }}
        run: |
          cd ..
          rm -rf build

      - name: 'Setup Python'
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: 'Install Animate'
        run: |
          . /home/firedrake/firedrake/bin/activate
          python -m pip uninstall -y animate
          python -m pip install -r requirements.txt
          python -m pip install -e .

      - name: 'Lint'
        if: ${{ always() }}
        run: |
          . /home/firedrake/firedrake/bin/activate
          flake8

      - name: 'Test Animate'
        run: |
          . /home/firedrake/firedrake/bin/activate
          python $(which firedrake-clean)
          export ANIMATE_CHECKPOINT_DIR=$(pwd)/.checkpoints
          # python -m coverage erase
          # python -m coverage run --source=animate -m pytest -v --durations=20 test
          # python -m coverage report
          python3 -m pytest -v -s test/test_adapt.py::test_no_adapt_2d_parallel
